.user {
    display: flex;
    flex-direction: column;
    margin-top: 1.0667rem;
    padding: 2rem 1.6rem;
    border-radius: 15px;
}

.Light{
    background-color: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);;
    color: #4B6A9B;
}

.Dark{
    background-color: #1E2A47;
}

.LightRepo{
    background-color: #eeeff4;
}

.LightRepo span{
    color: black;
}

.DarkRepo{
    background-color: #141C2B;
}

.user span {
    font-size: 0.9em;
}

.Info{
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}

.Info span{
    margin-top: .5em;
}

.Info h2, h3, p{
    /* display: inline; */
    margin: 0;
}

.Info a{
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.9em;
    color: hsl(211, 95%, 50%);
}


.Summary {
    display: grid;
    grid-template-columns: 7rem auto;
    gap: 2rem;
}

.Summary img{
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
}

.Repo{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2em;
    padding: 1em;
    border-radius: 10px;
}

.Repo div{
    display: flex;
    flex-direction: column;
}

.Repo span{
    font-size: 1.3em;
    font-weight: bold;
}

.Repo h4{
    font-weight: lighter;
    font-size: .9em;
    margin: 0;
}

@media (width>1100px) {
    .Repo{
        margin-left: 9rem;
    }
    
    .Bio{
        margin-left: 9rem;
    }
    
    .Info span{
        position: relative;
        left: max;
    }
}

@media (width<768px) {
    .Summary{
        grid-template-columns: 5rem auto;
    }

    .Summary img{
        height: 5em;
        width: 5em;
    }

    .Info{
        flex-direction: column;
    }

    .Bio{
        margin-top: 1em;
    }
}