.Profile{
    background-color: #1E2A47;
    margin-top: 2rem;
    display: flex;
    border-radius: 0.8rem;
}

.ProfileImg{
    height: 8rem;
    border-radius: 50%;
    margin: 2rem;
    display: inline;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
}