/* .main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem; */
    /* padding: 2em; */
/* } */

/* .bioData{
    display: flex;
    flex-direction: column;
}

.bioData h2{
    margin: 0;
}

.date{
    font-size: 0.8em;
    padding: 1em 1.25em;
}

#username{
    color: #1a72d6;
}


@media (max-width: 500px) {
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .date{
        padding: 1em 0;
        position: absolute;
        left: 2em;
        top: 13em;
    }
} */