.wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #141D2F;
    padding: 1rem;
    border-radius: .8rem;
    margin: 2rem 1rem;
}

.miniContainer{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.heading{
    color: darkgrey;
    font-size: .8em;
}

.number{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
