.container{
    border-radius: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

.Light{
    background-color: #FEFEFE;  
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.Dark{
    background-color: #1E2A47;
}

.svg{
    padding: 10px 16px 4px 8px;
}

.container input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1em;
    color: white;
    font-family: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Button{
    border: none;
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: #0079FF;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.05em;
    cursor: pointer;
}