.App {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Light{
  background-color: #e8eaf1;
  color: #2B3442;
}

.Light h2{
  color: #2B3442;
}

.Dark{
  background-color: #141C2B;
}

@media (width>1024px) {
  .App{
    min-height: 100vh;
  }
}